[submodule "CAD/src/lib/stdlib"]
	path = CAD/src/lib/stdlib
	url = git@github.com:ThunderFly-aerospace/Openscad_stdlib.git
[submodule "doc/anemometer"]
	path = doc/anemometer
	url = https://github.com/mlab-modules/WINDGAUGE03
[submodule "hw/TFMODEM01"]
	path = hw/TFMODEM01
	url = https://github.com/ThunderFly-aerospace/TFMODEM01.git
[submodule "scripts/Dashboard"]
	path = scripts/Dashboard
	url = https://github.com/ThunderFly-aerospace/TFDashboard.git
