[Unit]
Description=Mavlink websocket server - UDP to websocket
After=tf-mavlinkbride.service
Requires=tf-mavlinkbride.service

[Service]
Environment=MAVLINK_ENDPOINT=udpin:0.0.0.0:14550
Environment=MAVLINK20=1
ExecStart=python3 /root/repos/TF-R1/sw/WebDashboard/mavlink-websocket/mavlink-websocket.py 

[Install]
WantedBy=multi-user.target
