[Unit]
Description=Mavlink websocket server - UDP to websocket
After=mavlink-router.service
Requires=mavlink-router.service

[Service]
Environment=MAVLINK_ENDPOINT=udpin:0.0.0.0:14551
Environment=MAVLINK20=1
Environment=export MAVLINK_DIALECT=common

ExecStart=python3 /root/repos/TF-R1/sw/WebDashboard/mavlink-websocket/mavlink-websocket.py 

[Install]
WantedBy=multi-user.target
